@import "tailwindcss";



/* Variables */
:root {
  --background: #1a1a1a;
  --white-text: #f0f0f0;
  --blue-text: #3586B4;
  --purple: #462D6F;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-64: 64px;
  --font-size-40: 40px;
  --font-size-32: 32px;
}

html,body {
  background-color: var(--background);
  color: var(--white-text);
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  color: var(--blue-text);
}
