@import "tailwindcss";



/* Variables */
:root {
  --background: #1a1a1a;
  --white-text: #f0f0f0;
  --blue-text: #3586B4;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-64: 64px;
  --font-size-40: 40px;
  --font-size-32: 32px;
}

html,body {
  background-color: var(--background);
  color: var(--white-text);
}

#header-container {
  height: 100vh;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}

.logo {
  height: 100vh;
  max-height: 25%;
}


.blue-text {
  color: var(--blue-text);
}

.white-text {
  color: var(--white-text);
}
